.App {
  font-family: /*'Montserrat',*/ sans-serif;
  text-align: center;
  padding-top: 10px;
  background-color: #fffbb0;
  padding-bottom: 25px;
}

/*
This has some interesting props so I am leaving it in as a comment.
It's the background of the twirling atom of the logo for create-react-app.
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App h1, h2, h3, a {
  font-family: "Crimson Text", serif;
  color: #221133;
}

.App-link {
  color: #61dafb;
}

.ButtonRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.SortButton {
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  padding: 10px;
  margin: 25px;
}

.RowOfChips {
  display: flex;
  justify-content: center;
  background-color: white;
  flex-flow: row wrap;
  padding: 5px;
  margin: 15px auto;
  width: 95%;
  min-height: 120px;
}

.ColorChip {
  height: 110px;
  width: 165px;
  margin: 5px;
}

.OneChip {
  margin: 5px;
}
